@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>Welcome to Repair Parts Catalog.</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form role="form">
            <div class="form-group">
                <label>Test: </label>
                <input type="text" class="form-control"/>
            </div>
        </form>
    </div>
</div>
