.btn-primary {
    background-color: #3f51b5;
}

.nav-pills > li.active > a {
    background-color: #3f51b5;
}

    .nav-pills > li.active > a:hover {
        background-color: #495bc0;
    }

    .nav-pills > li.active > a:active {
        background-color: #5062c2;
    }
